body {
  font-family: sans-serif;
}

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0;
  a {
    color: rgba(0, 0, 0, .3);
    &:hover {
      color: rgba(0, 0, 0, .5);
      text-decoration: none;
    }
  }
}

.ca-header {
  text-align: center;
}

.ca-contents {
  text-align: left;
  line-height: 1.4;
  li + li {
    margin-top: 5px;
  }
}

.ca-docs-section {
  .links {
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      font-size: x-large;
    }
    li + li {
      margin-left: 10px;
    }
  }
}

.history {
  list-style-type: none;
}

.ca-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    line-height: 1;
  }
  li + li {
    margin-left: 15px;
  }
}

footer.ca-footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  .copyright {
    margin-top: 12px;
  }
  .source {
    margin-top: 12px;
  }
}

.large {
  font-size: 30px;
}
