.nav ul li {
  &:hover {
    -webkit-transition: -webkit-transform 0.4s;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-animation: fluffy 1.2s linear 0s infinite;
    animation: fluffy 1.2s linear 0s infinite;
  }

}

@-webkit-keyframes fluffy {
  to {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-3px, 0px);
    transform: translate(0px, -3px);
  }
}
@keyframes fluffy {
  to {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(-3px, 0px);
    transform: translate(0px, -3px);
  }
}
