<IfModule mod_rewrite.c>
    RewriteEngine On
    Redirect permanent /blog/ http://blog.catatsuy.org/
    Redirect permanent /wiki/ http://wiki.catatsuy.org/
    RewriteCond %{HTTP_HOST} ^catatsuy.org
    RewriteRule ^(.*)$ http://www.catatsuy.org/$1 [R=301,L]
</IfModule>
